.ProjectsPage {
    display: flex;
    //height: 250vh;
    flex-direction: column;
    background: black;
    color: white; 
    font-family: "Jacques Francois", serif;
}
.content {
    margin-top: 8%;
    margin-left: 10%;
}
.image {
    position: relative;
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    align-items: center;
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 15px;
        //filter: brightness(0.7); 
    }
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        font-weight: bold;
        color: white;
        text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.8);
        text-align: center;
        
    }
}


.skill-title {

}

.skilli {
    margin-right: 1%;
    font-size: 14px;
    padding: 5px 12px;
    border: 2px solid #00e676; 
    border-radius: 10px;
    background: rgba(0, 230, 118, 0.1); 
    color: #ffffff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.skilli:hover {
    //opacity: 50%;
    background: #004e28;
    color: rgb(255, 255, 255);
}

.description-title {

}

.description-body {
    margin-bottom: 5%;
    margin-right: 10%;
}
.link {
    height: 100vh;
    width: 90%;
    align-items: center;
    margin-bottom: 10%;
}