.Contact {
    background: rgb(0, 0, 0);
    width: 100%;
    min-height: 250vh;
    display: flex;
    align-items: top;
    justify-content: center;
    color: white; 
    font-size: 30px;
    font-family: "Jacques Francois", serif;
    //position: absolute; 
}

.Contact-title {
    color: white; 
    font-size: 20px;
    font-family: "Jacques Francois", serif;
    margin-top: 150px;
}
