.Home {
    background: rgb(0, 0, 0);
    width: 100%;
    min-height: 250vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //position: absolute; 
}

.Home_title {
    position: absolute;
    top: 50%;//taking it a little higher
    left: 50%;//moving it left to center it
    transform: translate(-50%, -50%);
    //position: absolute;
    //height: 100vh; 
    color: white;
    font-size: 50px;
    font-family: "Jacques Francois", serif;
    text-align: center; //centers all inside .home
}

.about-me {
    width: 80%;
    //max-width: 1000px;
    margin-top: 700 px; // Pushes it below the centered text
    padding: 50px 20px;
    color: white;
    right: 50%;
    font-size: 24px;
    text-align: center;
    font-family: "Jacques Francois", serif;
    //background: rgba(255, 255, 255, 0.1); // Light transparent background
    //border-radius: 12px;
}
