.navbar{
    z-index: 1000;
    //overflow: hidden; 
    width: 650px;//width of the navbar from figma
    background:linear-gradient(to right, #00970A, #0f0065);//making it gradient 
    height: 76px;
    opacity: 85%;
    display: flex;
    border-radius: 0 10px 10px 0; //rounding the edges
    flex-direction: row;
    justify-content: right;//even spacing between buttons
    align-items: center;
    gap: 70px;//USE THIS GAP WHEN ADDING ANOTHER PAGE
    padding: 0 30px; //adds pad to maintain spacing
    position: fixed;
    top:5%; //matches y pos from sigma
    margin-left: 50%; 
    right: auto;//aligning it correctly
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);//create an angled left edge
    button{//the settings for the button and how it should operate
        opacity: 100%;
        height: 50px;
        width: 100px;
        background: none;
        border: none;
        text-decoration: none;
        cursor:pointer;
        color:white;
        font-size: 24px;
        font-family: "Jacques Francois", serif;
        transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);//makes the navbar come up/dowm slowly
    }
    
    button:hover{//the settings for the button hover
        transform: translateY(-3px);
    }

    button:focus {
        outline:none;//removes focus outline
    }
}
